In [ ]:
#Question No24 Code start

In [ ]:
#Write command to fill missing value in forward direction in Pandas dataframe
# fill missing value for Forward fill 
dataframe.ffill()

In [ ]:
#Question No24 Code Ends

In [ ]:
#Question No25 Code starts

In [7]:
a = [6,3,8,'hi',76,'exam']
b = ['First',65,78]

In [8]:
# add two list
print(a+b)

[6, 3, 8, 'hi', 76, 'exam', 'First', 65, 78]

In [ ]:
#Question No25 Code End

In [ ]:
#Question No26 Code starts

In [ ]:
# Covert quality column on condition 
df.apply(df['Quality']<=5 & df['Quality']>=6)

In [ ]:
#Question No26 Code end

In [ ]:
#Question No27 Code start

# 
SELECT student_id, student_name, date_of_joining 
FROM student WHERE student_id in( SELECT student_id from(select count(1),
student_id from training 
group by (student_id) 
having count(1)>1) 
order by student_name);

In [ ]:
#Question No27 Code end

In [ ]:
#Question No28 Code start

# That query output will get only one record whose referred_by value is 1. Other value not get because null ,better way use "NVL" for null values.

use:-
SELECT name from customer WHERE nvl(referred_by)<>2;
it gives all the records

In [ ]:
#Question No28 Code end

In [ ]:
#Question No29 Code start

In [ ]:
#Question No29 Code end

In [ ]:
#Question No30 Code start

In [ ]:
df.at['Department name', 'D2'] = 100k 
# else
df.set_value('Department name', 'D2', 100K)

In [ ]:
#Question No30 Code end

In [ ]:
#Question No31 Code start

In [ ]:
import pandas as pd

df.pivot('Product', 'canada', 'China','Mexico',"USA")

In [ ]:
#Question No31 Code end

In [ ]:
#Question No32 Code start

In [9]:
import re 
import xlwt
from xlwt import Workbook

# Workbook is created
wb = Workbook()

# add_sheet is used to create sheet.
sheet1 = wb.add_sheet('Sheet 1')

# Add sheet Heading name 
#sheet1 .write('A1', 'Credit Card no.')
#sheet1 .write('B1', 'result')

# open text file 
with open("Credit Card Nos.txt") as f:
    Number = f.readlines()
    
    # use Exception Handling and Regular expressions
    try:
        assert re.match(r'(\d{4}-){3}\d{4}$', Number) or re.match(r'\d{16}$', Number)
        Number = re.sub(r'-', '', Number)
        assert re.match(r'[456]', Number)
        assert not re.search(r'(\d)\1{3,}', Number)
    except:
        result = 'Invalid'
    else:
        result ='Valid'

    sheet1.write(Number, result)
    # save the result

wb.save('Credit_Card_no_test.xlsx')

ModuleNotFoundError: No module named 'xlwt'

In [ ]:
#Question No32 Code end